// Atoms
//
// If atoms are the basic building blocks of matter, then the atoms of
// our interfaces serve as the foundational building blocks that
// comprise all our user interfaces. Therefore these atoms would include
// basic HTML tags like form labels, inputs, buttons, and other elements
// that can’t be broken down any further without ceasing to be functional.
//
// @source - http://atomicdesign.bradfrost.com/chapter-2/


/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  display: inline-block;
  background-color: $color-primary;
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  max-width: 300px;
  padding: 16px 48px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  &:hover {
    background: scale-color($color-primary, $lightness: -15%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -2px, 0);
  }

  @media screen and (min-width: 480px) {
      font-size: 20px;
  }

}

/* Line Devider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.line {
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: $color-primary;
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    width: 80px;
    height: 4px;
  }
}

/* Arrow
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.arrow {
  position: relative;
  margin-top: 24px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 25px;
    border-radius: 2px;
    background-color: $white;
  }

  &:before {
    right: calc(50% - 1px);
    transform-origin: right;
    transform: rotate(45deg);
  }
  &:after {
    left: calc(50% - 1px);
    transform-origin: left;
    transform: rotate(-45deg);
  }
}


/* Toggle button
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hamb {
  width: 40px;
  height: 32px;
  padding-top: 24px;
  cursor: pointer;

  span:after,
  span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
  }

  span:after{
    top: 10px;
  }

  span {
    position: relative;
    display: block;
    margin-top: 14px
  }

  span,
  span:after,
  span:before {
    width: 100%;
    height: 4px;
    background-color: $white;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

}


  /* on activation */


  .hamb.is-open {
    span {
      background-color: transparent;
    }
    span:before {
      transform: rotate(45deg) translate(7px, 7px);
    }
    span:after {
      transform: rotate(-45deg) translate(7px, -6px);
    }
  }
