// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============

$white:                     #fff;
$black:                     #000;
$dark-gray:                 rgba($black, .87);
$salat-green:               #64DD17;

// main color palette
// =============
$color-primary:             $salat-green;
$color-shadow:              rgba($black, .125);

// Common colors
$color-background:          $white;
$color-text:                rgba($black, .87);
$color-text-weak:           rgba($black, .54);
$color-text-w:              $white;
$color-text-weak-w:         rgba($white, .70);
$color-text-heading:        $color-text;


// Links
$color-link:                $color-primary;
$color-link-hover:          $color-primary;
$color-link-visited:        $color-primary;
