@viewport { width: device-width; }

html {
  background-color: $color-background;
  box-sizing: border-box;
  height: 100%;
}

* {
  transition: all .2s;
  &:before,
  &:after { box-sizing: inherit; }
}

body {
  -webkit-font-smoothing: antialiased;
  color: $color-text;
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: $color-link;
  text-decoration: none;
  transition: color .2s;
  border-bottom: 1px dotted;

  &.no-underline {
    border-bottom: 0;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    color: scale-color($color-primary, $lightness: -15%);
  }
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-cursive;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 26px;

  @media screen and (min-width: 480px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;

  @media screen and (min-width: 480px) {
    font-size: 40px;
  }
}

h3 {
  font-size: 19px;

  @media screen and (min-width: 480px) {
    font-size: 31px;
  }
}

p {
  color:  $color-text-weak;
  font-size: 14px;
  margin: 0;
  line-height: 1.7;

  @media screen and (min-width: 480px) {
    font-size: 16px;
  }
}

ul {
  margin: 0;
}

.wrap {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 16px;
}

.weak {
  color: $color-text-weak-w;
}

.cover {
  background-color: $color-primary;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-through {
  text-decoration: line-through;
}

.no-touch .underline-link {
  border-bottom: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    background-color: $color-primary;
    height: 2px;
    left: 50%;
    top: 100%;
    transition: all .2s ease-in-out;
  }

  &:hover {
    &:before {
      width: 100%;
      left: 0;
    }
  }
}
