nav {
  position: absolute;
  background-color: rgba($color-primary, .9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translate3d(0, -100%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.is-open {
    transform: translate3d(0, 0, 0);
  }

  a {
    color: $white;
    font-size: 24px;

    &:hover {
      color: rgba($white, .7);
    }


    @media screen and (min-width: 800px) {
      font-size: 40px;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 24px;
    }
  }
}
