.parallax {
  height: 480px;
  background: url('../img/vitaly.jpg');
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;


  @media screen and (min-width: 800px) {
    background-attachment: fixed;
    background-position: center 0px;
  }

  @media screen and (min-width: 1440px) {
    height: 860px;
    background-position: center -200px;
  }
}
