.work {
  background-color: #eeeeee;
  text-align: center;
  padding: 48px 0;

  @media screen and (min-width: 800px) {
    padding: 80px 0;
  }

  a {
    line-height: 0;
  }
}

.mockup {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 3;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  max-width: 320px;
  margin: 0 auto;
  margin-top: 48px;

  @media screen and (min-width: 800px) {

    max-width: 480px;

    &:hover {

      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);

      figcaption {
        transform: translate3d(0, 0, 0);
      }

      img {
        transform: scale(1.2);
        transition: all 5s linear;
      }
    }
  }



  figcaption {
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 800px) {
      height: 50%;
      background-color: rgba(0, 0, 0, 0.7);
      transform: translate3d(0, 100%, 0);

    }

    .name {
      display: block;
      color: $white;
      margin-top: 24px;
      font-size: 21px;
    }

    .works-box {
      margin-top: 32px;

      &:last-of-type {
        margin-right: 0;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      span {
        color: $white;
        display: block;
        margin: 16px auto 0 auto;
      }
    }
  }

}
